<div class="space30"></div>
<div class="content-wrapper">
    <div class="row">
        <span class="col-md-2"></span>
        <span class="col-md-3 text-center">
            <img src="~/Content/img/footer/shipping.jpg" />
            <p>Envio por sedex ou PAC. Calcule aqui o valor do seu frete!</p>
        </span>
        <span class="col-md-3 text-center">
            <img src="~/Content/img/footer/percent.jpg" /><br />
            Descontos progressivos de acordo com o valor
        </span>
        <span class="col-md-3 text-center">
            <img src="~/Content/img/footer/help.jpg" /><br />
            Ajuda online
        </span>
        <span class="col-md-1"></span>
    </div>
    <div class="space20"></div>
    <div class="row">
        <span class="col-md-3 text-center">
            <h4>Informação</h4>
        </span>
        <span class="col-md-3 text-center">
            <h4>Categorias</h4>
        </span>
        <span class="col-md-3 text-center">
            <h4>Extras</h4>
        </span>
        <span class="col-md-3 text-center">
            <h4>Minha conta</h4>
        </span>
    </div>
    <div class="space20"></div>
    <h6 class="text-center">Loja RepRap © 2013. Layout por themeforest</h6>
</div>