<div class="header-line"></div>
<div class="header-container">
    <div class="row">
        <div class="col-md-4 header-welcome">
            Bem vindo visitante! <a href="#">Login</a>
        </div>
        <div class="col-md-7">
            <ul class="nav nav-pills pull-right">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Minha conta <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item"><a href="#">Favoritos</a></li>
                        <li class="dropdown-menu-item"><a href="#">Minha conta</a></li>
                        <li class="dropdown-menu-item"><a href="#">Fechar pedido</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">Manuais <span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item"><a href="#">Vídeos</a></li>
                        <li class="dropdown-menu-item"><a href="#">Documentos</a></li>
                        <li class="dropdown-menu-item"><a href="#">Blogs</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                        <img src="~/Content/img/header/cart.png" />
                        Meu carrinho</a>
                </li>
            </ul>
        </div>
        <div class="col-md-1">
            <div class="header-cart">
                <span class="header-cart-itens">0 ítens</span>
            </div>
        </div>
    </div>

    <h3><span class="header-title">Loja RepRap</span><span class="header-title-dot">.</span></h3>

    <div class="row">
        <div class="col-md-8">
            <ul class="nav nav-pills header-menu-nav">
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">HOME</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item"><a href="#">HOME</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">FERRAGENS</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item"><a href="#">FERRAGENS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">KITS</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item"><a href="#">KITS</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a class="dropdown-toggle" data-toggle="dropdown" href="#">MODELOS</a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-menu-item"><a href="#">MODELOS</a></li>
                    </ul>
                </li>
            </ul>
        </div>
        <div class="col-md-4">
            <form role="form">
                <div class="input-group">
                    <input type="text" class="form-control" id="searchSite" placeholder="Buscar">
                    <span class="input-group-btn"><button class="btn btn-default" type="button"><span class="glyphicon glyphicon-search"></span></button></span>
                </div>
            </form>
        </div>
    </div>
</div>
