<div class="row header">
    <div class="span2">
        <img src="~/Images/reprap_logo.jpg" height="75" width="75" />
    </div>
    <div class="span10">
        Lojaasdfasdfsaf<img src="~/Images/reprap_logo.jpg" height="75" width="75" />
    </div>
</div>
