@{
    ViewBag.Title = "Home Page";
}

<script>
    $(document).ready(function () {
        $('#slider').nivoSlider({
            effect: 'boxRandom',
            pauseTime: 4000,
            animspeed: 500,
            pauseOnHover: true,
            captionOpacity: 1,
            afterLoad: function () { $('#slider .nivo-caption p').css("left", "15px") },
            beforeChange: function () { $('#slider .nivo-caption p').css("left", "-500px") },
            afterChange: function () { $('#slider .nivo-caption p').css("left", "15px") }
        });
    });
</script>

@section featured {
    <div class="space10"></div>
    <section class="featured">
        <div id="wrapper">
            <div class="slider-wrapper theme-default">
                <div id="slider" class="nivoSlider">
                    <img src="~/Content/slider/prusa-mendel.jpg" data-thumb="images/prusa-mendel.jpg" title="Prusa Mendel V2" alt="Prusa Mendel V2" />
                    <a href="http://dev7studios.com">
                        <img src="~/Content/slider/kossel.jpg" data-thumb="images/kossel.jpg" alt="" title="Delta Kossel" />
                    </a>
                </div>
                @*<div id="htmlcaption" class="nivo-html-caption">
                        <strong>This</strong> is an example of a <em>HTML</em> caption with <a href="#">a link</a>.
                    </div>*@
            </div>
        </div>
    </section>
}
<div class="body-text">
    <h4>O que é RepRap?</h4>
    Um sistema de prototipagem rápida open source (código aberto) de baixo custo que é capaz de produzir suas próprias partes e assim pode ser replicado facilmente.
    <a href="http://reprap.org/wiki/RepRap/pt" target="_blank">Saiba mais</a>
    <h4>O que posso fazer com uma impressora 3D RepRap?</h4>
    Qualquer arquivo gerado por um software de modelagem 3D ou baixado da internet pode ser impresso em um objeto 3D físico. Podem ser impressos brinquedos, peças para máquinas, maquetes e o que mais a imaginação permitir.
    <a href="http://www.thingiverse.com" target="_blank">Saiba mais</a>
    <h4>Como construir esta impressora?</h4>
    Todas as instruções e vídeos para montar sua impressora estão na internet, acessíveis a qualquer um com vontade de montar uma, sendo que o custo será menor do que comprar uma impressora já montada.
    <a href="/Home/Iniciar" target="_blank">Quero começar!</a>
</div>
