/* All */
html {
    background-color: #ffffff;
    margin: 0;
    padding: 0;
}

body {
    background-color: #fff;
    font-size: .85em;
    font-family: 'Open Sans', Arial, tahoma, Helvetica, sans-serif !important;
    margin: 0;
    padding: 0;
}

a {
    color: #666666 !important;
    text-decoration: underline !important;
}

a:hover {
    color: #33333f !important;
    text-decoration: underline !important;
}

#body {
    padding: 0 60px 0 30px;
}

/***Espacamento e Ajustes***/
.space10 {
    clear: both;
    width: 100%;
    height: 10px;
}

.space20 {
    clear: both;
    width: 100%;
    height: 20px;
}

.space30 {
    clear: both;
    width: 100%;
    height: 30px;
}

.space40 {
    clear: both;
    width: 100%;
    height: 40px;
}

.space50 {
    clear: both;
    width: 100%;
    height: 50px;
}

.space60 {
    clear: both;
    width: 100%;
    height: 60px;
}
/***/

/* Bootstrap override */
/* dropdown */
.dropdown:hover .dropdown-menu {
    display: block;
}

.dropdown-menu-item {
    color: #999 !important;
}

.dropdown-menu-item a:hover {
    background-color: #0d9447 !important;
    color: #fff !important;
}

.nav-tabs .dropdown-menu, .nav-pills .dropdown-menu, .navbar .dropdown-menu {
    margin-top: 0;
}
/* end of dropdown */
.glyphicon {
    color: #9d9d9d;
}
/* end of Bootstrap override */

/* Header */
.header-container {
    padding: 0 60px 0 30px;
}

.header-line {
    background-color: #333333;
    height: 7px;
}

.header-welcome {
    padding-top: 10px;
    font-size: 13px;
    font-weight: bold;
    color: #999;
}

.header-title {
    font-family: 'Arial Black', Arial;
    font-weight: 900;
    color: #333333;
}

.header-title-dot {
    font-family: 'Arial Black', Arial;
    font-weight: 900;
    color: #0d9447;
}

.nav-pills a {
    font-size: 13px;
    font-weight: bold;
    color: #999;
    text-decoration: none !important;
}

.header-cart {
    background-color: #333333;
    width: 60px;
    height: 30px;
    color: #fff;
}

.header-cart-itens {
    padding: 0 0 0 10px;
    font-size: 12px;
    font-weight: bold;
    color: #cccccc;
}

.header-menu-nav li a {
    font-size: 14px !important;
    color: #6d6d66 !important;
    line-height: 14px !important;
    text-decoration: none !important;
    display: block !important;
    /*z-index: 10000 !important;
    position: relative !important;
    padding: 10px !important;*/
    border: 1px solid #fff !important;
    border-bottom: 0 !important;
    font-weight: 600 !important;
}

.header-menu-nav li a:hover {
    color: #33333f !important;
}

/* Footer */
.content-wrapper {
    padding: 0 60px 0 30px;
}